@import '../../../styles/var/variables.scss';

.header-hero {
		background-image: url(../../../images/illustration-working.svg);
    background-position: 100% 0%;
    background-size:auto;
    background-repeat: no-repeat; 

}
.hero {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  min-height: calc(800px - 8.375rem);
	.hero-text {
		width: 570px;
		padding-right: 150px;
		h1 {
			line-height: 1.2;
		}
		p {
			padding: 0;
			padding-bottom: 40px;
		}
		button {
			padding:21px 40px;
		}
	}
}
	@media screen and (max-width: 1136px) {
		.header-hero {
			background-size: 70%;
		} 

	}

	@media screen and (max-width: 770px) {
		.hero {
			flex-direction: column;
  		min-height: 982px;
			.hero-text {
				margin-top: 376px;
				padding-right: 0;
				width: 100%;
				text-align: center;
				//TODO:
				h1 {
					font-size:45px ;
				}
				p,button {
					font-size: 21px;
				}
			}
		}
		.header-hero {
			background-size: 100%;
		} 
		
	
	}